@media only screen and (max-width: 800px) {


   header {
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 2rem 5% 2rem 5%;
  
  
  
       background-color: black;
       color: white;
   }
  
   body {
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin: 0%;

     font-family: sans-serif;
   }
  
  header *{
    margin: 0.2rem;
  }
  
  h1 {
  
     font-size: x-large;
  }
  h2 {
  
     font-size: medium;
  }
  
  
  h3 { 
     font-size: medium;
     color: grey;
     
     box-sizing: border-box;
     display: flex;
     align-items: flex-start;
     text-align: left;
  
     width: 130%;
     border-bottom: 1px solid grey;
     padding-bottom: 0.2rem;
  
     }
  
  p {
     font-size: xx-small;
     text-align: left;
     text-align: justify;
   }
  
   article {
     box-sizing: border-box;
     display: flex;
  
     flex-direction:  column;
     align-items: center;
     width: 70%;
  
  }
  
   section {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
  }
  
  .parrafo {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     align-self: flex-end;
     font-size: xx-small;
  }
  
  
   img {
     width: 100%;
     margin: 1rem;
     display: flex;
     align-self: center;
     order: -1;
   }
  
   form {
  
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      font-size: small;
  
      width: 130%;
   }
     
  
  
  
  
   input {
      width: 100%;
      background-color: grey;
      box-sizing: border-box;
      align-self: center;
      border: none;
   }
  
   label {
     box-sizing: border-box;
     display: flex;
     align-self: flex-start;
     margin-top: 1rem;
     margin-bottom: 0.2rem;
     
  
     font-weight: bold;
  
   }
  
  
   input:last-of-type {
     height: 10rem;
  }
  
  button {
     box-sizing: border-box;
     display: flex;
     align-self: flex-start;
     background-color: black;
     color: white;
     margin-top: 1rem;
     border: none;
  }
 }

 @media only screen and (min-width: 801px) {

   header {
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 2rem 15rem 2rem 15rem;
      width: auto;
      height: 20rem;
  
  
       background-color: black;
       color: white;
   }
  
   body {
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin: 0%;
     max-width: 120%;



     font-family: sans-serif;
   }
  
  header *{
    margin: 0.2rem;
    max-width: 120%;
  }
  
  h1 {
  
     font-size: 5rem;
  }
  h2 {
  
     font-size: 3rem;
  }
  
  
  h3 { 
     font-size: xx-large;
     color: grey;
     
     box-sizing: border-box;
     display: flex;
     align-items: flex-start;
     text-align: left;
  
     width: 100%;
     border-bottom: 3px solid black;
     padding-bottom: 0.2rem;
  
     }
  
  p {
     text-align: left;
   }
  
   article {
     box-sizing: border-box;
     display: flex;
  
     flex-direction:  column;
     align-items: center;
     width: 45%;
  
  }
  
  .arriba {
     box-sizing: border-box;
     display: flex;
     flex-direction: row;
  }
  
  #parrafo {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     align-self: flex-end;
  }
  
  
   img {
     width: 30%;
     margin: 1rem;
   }
  
   form {
  
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  
      width: 100%;
   }
     
  
  
  
  
   input {
      width: 100%;
      background-color: grey;
      box-sizing: border-box;

   border: none;
   }
  
   label {
     box-sizing: border-box;
     display: flex;
     align-self: flex-start;
     margin-top: 1rem;
     margin-bottom: 0.2rem;
  
     font-weight: bold;
  
   }
  
  
   input:last-of-type {
     height: 10rem;
  }
  
  button {
     box-sizing: border-box;
     display: flex;
     align-self: flex-start;
     background-color: black;
     color: white;
     margin-top: 1rem;
     border: none;
  }

 }